^ContentPage {
    background-color: #e4e4e4;
}

/*Frame {
    background-color: #8800ff;
    border-radius: 15;
}*/

navigationpage {
    -xf-bar-background-color: #281A61;
    /*-xf-bar-text-color: White;*/
}

CollectionView > frame {
    background-color: #e4e4e4;
}

.FramePost {
    background-color: #281A61;
    border-radius: 15;
}

.FrameRecentPost {
    background-color: #3C1BC5;
    /*background-color: #EFB66E;*/
    border-radius: 15;
}
